@model IEnumerable<TestApp.DB.Loan>

@{
    WebGrid webGrid = new WebGrid(source: Model, canPage: true, canSort: false);    
}    
@{
if(Model != null && Model.Count()>0)
{
      @if (ViewBag.IsAdmin == false)
          { 
              
                               @webGrid.GetHtml(
                htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                columns: webGrid.Columns(
                webGrid.Column(header: "Loan ID", format: @<text>  <span  class="display-mode">@item.LoanID </span> <label id="lblLoanID" class="edit-mode">@item.LoanID</label> </text>, style: "col1Width"),
                webGrid.Column(header: "Mbr Id", format: @<text>  <span  class="display-mode"> <label id="lblMbrId"  >@item.MbrId</label> </span> <input type="text" id="MbrId" value="@item.MbrId" class="edit-mode" /></text>, style: "col2Width"),
                webGrid.Column(header: "Loan Amount", format: @<text>  <span  class="display-mode"> <label id="lblLoan_Amount"  >@item.Loan_Amount</label> </span> <input type="text" id="Loan_Amount" value="@item.Loan_Amount" class="edit-mode" /></text>, style: "col2Width"),
                webGrid.Column(header: "Balance Amount", format: @<text> <span  class="display-mode"> <label id="lblBalance_Amount">@item.Balance_Amount</label> </span>  <input type="text" id="Balance_Amount" value="@item.Balance_Amount" class="edit-mode" /> </text>, style: "col2Width"),
                webGrid.Column(header: "Prin_EMI", format: @<text> <span  class="display-mode"> <label id="lblPrin_EMI">@item.Prin_EMI</label> </span>  <input type="text" id="Prin_EMI" value="@item.Prin_EMI" class="edit-mode" /> </text>, style: "col2Width"),
                webGrid.Column(header: "Int_EMI", format: @<text>  <span  class="display-mode"> <label id="lblInt_EMI"  >@item.Int_EMI</label> </span> <input type="text" id="Int_EMI" value="@item.Int_EMI" class="edit-mode" /></text>, style: "col2Width"),
                webGrid.Column(header: "Tenture", format: @<text>  <span  class="display-mode"> <label id="lblNoOfDay"  >@item.NoOfDay</label> </span> <input type="text" id="NoOfDay" value="@item.NoOfDay" class="edit-mode" /></text>, style: "col2Width"),
                webGrid.Column(header: "Date Of Disbursement", format: @<text> <span  class="display-mode"> <label id="lblDate_Of_Disbursement">@item.Date_Of_Disbursement</label> </span>  <input type="text" id="Date_Of_Disbursement" value="@item.Date_Of_Disbursement" class="edit-mode" /> </text>, style: "col2Width"),
                webGrid.Column(header: "Next Due Date", format: @<text> <span  class="display-mode"> <label id="lblNextDueDt">@item.NextDueDt</label> </span>  <input type="text" id="NextDueDt" value="@item.NextDueDt" class="edit-mode" /> </text>, style: "col2Width"),

                webGrid.Column(header: "Staff Name", format: @<text>  <span  class="display-mode"> <label id="lblStaffName"  >@item.StaffName</label> </span> <input type="text" id="StaffName" value="@item.StaffName" class="edit-mode" /></text>, style: "col2Width"),
                webGrid.Column(header: "Grp Code", format: @<text>  <span  class="display-mode"> <label id="lblGrpCode"  >@item.GrpCode</label> </span> <input type="text" id="GrpCode" value="@item.GrpCode" class="edit-mode" /></text>, style: "col2Width"),
                webGrid.Column(header: "NetSavings", format: @<text> <span  class="display-mode"> <label id="lblSavings">@item.NetSavings</label> </span>  <input type="text" id="Savings" value="@item.NetSavings" class="edit-mode" /> </text>, style: "col2Width"),
                webGrid.Column(header: "Balance Interest", format: @<text> <span  class="display-mode"> <label id="lblBalance_Interest">@item.Balance_Interest</label> </span>  <input type="text" id="Balance_Interest" value="@item.Balance_Interest" class="edit-mode" /> </text>, style: "col2Width")))
              
          }
          else
          { 

                      @webGrid.GetHtml(
            htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
            columns: webGrid.Columns(
            webGrid.Column(header: "Loan ID", format: @<text>  <span  class="display-mode">@item.LoanID </span> <label id="lblLoanID" class="edit-mode">@item.LoanID</label> </text>, style: "col1Width"),
            webGrid.Column(header: "Mbr Id", format: @<text>  <span  class="display-mode"> <label id="lblMbrId"  >@item.MbrId</label> </span> <input type="text" id="MbrId" value="@item.MbrId" class="edit-mode" /></text>, style: "col2Width"),
            webGrid.Column(header: "Loan Amount", format: @<text>  <span  class="display-mode"> <label id="lblLoan_Amount"  >@item.Loan_Amount</label> </span> <input type="text" id="Loan_Amount" value="@item.Loan_Amount" class="edit-mode" /></text>, style: "col2Width"),
            webGrid.Column(header: "Balance Amount", format: @<text> <span  class="display-mode"> <label id="lblBalance_Amount">@item.Balance_Amount</label> </span>  <input type="text" id="Balance_Amount" value="@item.Balance_Amount" class="edit-mode" /> </text>, style: "col2Width"),
            webGrid.Column(header: "Prin_EMI", format: @<text> <span  class="display-mode"> <label id="lblPrin_EMI">@item.Prin_EMI</label> </span>  <input type="text" id="Prin_EMI" value="@item.Prin_EMI" class="edit-mode" /> </text>, style: "col2Width"),
            webGrid.Column(header: "Int_EMI", format: @<text>  <span  class="display-mode"> <label id="lblInt_EMI"  >@item.Int_EMI</label> </span> <input type="text" id="Int_EMI" value="@item.Int_EMI" class="edit-mode" /></text>, style: "col2Width"),
            webGrid.Column(header: "Tenture", format: @<text>  <span  class="display-mode"> <label id="lblNoOfDay"  >@item.NoOfDay</label> </span> <input type="text" id="NoOfDay" value="@item.NoOfDay" class="edit-mode" /></text>, style: "col2Width"),
            webGrid.Column(header: "Date Of Disbursement", format: @<text> <span  class="display-mode"> <label id="lblDate_Of_Disbursement">@item.Date_Of_Disbursement</label> </span>  <input type="text" id="Date_Of_Disbursement" value="@item.Date_Of_Disbursement" class="edit-mode" /> </text>, style: "col2Width"),
            webGrid.Column(header: "Next Due Date", format: @<text> <span  class="display-mode"> <label id="lblNextDueDt">@item.NextDueDt</label> </span>  <input type="text" id="NextDueDt" value="@item.NextDueDt" class="edit-mode" /> </text>, style: "col2Width"),

            webGrid.Column(header: "Staff Name", format: @<text>  <span  class="display-mode"> <label id="lblStaffName"  >@item.StaffName</label> </span> <input type="text" id="StaffName" value="@item.StaffName" class="edit-mode" /></text>, style: "col2Width"),
            webGrid.Column(header: "Grp Code", format: @<text>  <span  class="display-mode"> <label id="lblGrpCode"  >@item.GrpCode</label> </span> <input type="text" id="GrpCode" value="@item.GrpCode" class="edit-mode" /></text>, style: "col2Width"),
            webGrid.Column(header: "NetSavings", format: @<text> <span  class="display-mode"> <label id="lblSavings">@item.NetSavings</label> </span>  <input type="text" id="Savings" value="@item.NetSavings" class="edit-mode" /> </text>, style: "col2Width"),
            webGrid.Column(header: "Balance Interest", format: @<text> <span  class="display-mode"> <label id="lblBalance_Interest">@item.Balance_Interest</label> </span>  <input type="text" id="Balance_Interest" value="@item.Balance_Interest" class="edit-mode" /> </text>, style: "col2Width"),
            webGrid.Column(format: @<text>  
                         <button >Edit</button>  
                        <button class="save-user edit-mode" style="background-color:lightgreen" >Save</button>  
                        <button class="cancel-user edit-mode" style="background-color:orangered">Cancel</button>  
                    </text>, style: "col3Width", canSort: false)))
          }
}
else{
    <label>No suppliers to display!</label>
}
}     