@model IEnumerable<TestApp.DB.Branch>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    WebGrid webGrid = new WebGrid(source: Model, canPage: true, canSort: false);
}
 
<!DOCTYPE html>
 
<html>
<head>
    <title>Index</title>
    <style type="text/css">
       
        .label {
            color: grey;
        }
        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin-top:5%;
        }
 
        .Grid th {
            background-color: #428bca;
            font-weight: bold;
        }
 
        .Grid th, .Grid td {
            padding: 5px;
            width: 150px;
            border: 1px solid #ccc;
        }
 
        .Grid, .Grid table td {
            border: 0px solid #ccc;
        }
 
        .Grid th a, .Grid th a:visited {
            color: #333;
        }
    </style>
</head>
<body>
<div class="container" ;border-color: "darkgrey";border-width:"2px";">
    <div class="well form-horizontal" style="margin-top: 3%;">
        <h2>Branch List</h2>
      <div style="width:100%;overflow:auto">    
     <div>         
             @webGrid.GetHtml(
                 htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                 columns: webGrid.Columns(
                 webGrid.Column(header: "Branch ID", format: @<text>  <span  class="display-mode">@item.BranchID </span> <label id="lblBranchID" class="edit-mode">@item.BranchID</label> </text>, style: "col1Width"),
                 webGrid.Column(header: "Branch Code", format: @<text>  <span  class="display-mode"> <label id="lblBranchCode"  >@item.BranchCode</label> </span> <input type="text" id="BranchCode" value="@item.BranchCode" class="edit-mode" /></text>, style: "col2Width"),
                 webGrid.Column(header: "Branch Name", format: @<text>  <span  class="display-mode"> <label id="lblBranchName"  >@item.BranchName</label> </span> <input type="text" id="BranchName" value="@item.BranchName" class="edit-mode" /></text>, style: "col2Width"),
                 webGrid.Column(header: "Open Date", format: @<text> <span  class="display-mode"> <label id="lblOpenDate">@item.OpenDate</label> </span>  <input type="text" id="OpenDate" value="@item.OpenDate" class="edit-mode" /> </text>, style: "col2Width"),
                 webGrid.Column(header: "Branch Address", format: @<text> <span  class="display-mode"> <label id="lblBAddress">@item.BAddress</label> </span>  <input type="text" id="BAddress" value="@item.BAddress" class="edit-mode" /> </text>, style: "col2Width"),
                 webGrid.Column(header: "City", format: @<text>  <span  class="display-mode"> <label id="lblCity"  >@item.City</label> </span> <input type="text" id="City" value="@item.City" class="edit-mode" /></text>, style: "col2Width"),
                 webGrid.Column(header: "State", format: @<text>  <span  class="display-mode"> <label id="lblState"  >@item.State</label> </span> <input type="text" id="State" value="@item.State" class="edit-mode" /></text>, style: "col2Width"),
                 webGrid.Column(header: "PinCode", format: @<text> <span  class="display-mode"> <label id="lblPinCode">@item.PinCode</label> </span>  <input type="text" id="PinCode" value="@item.PinCode" class="edit-mode" /> </text>, style: "col2Width"),
                 webGrid.Column(header: "ManagerID", format: @<text> <span  class="display-mode"> <label id="lblManagerID">@item.ManagerID</label> </span>  <input type="text" id="ManagerID" value="@item.ManagerID" class="edit-mode" /> </text>, style: "col2Width"),
                 webGrid.Column(format: @<text>  
                                <button class="edit-user display-mode" style="background-color: #428bca;font-weight: bold" >Edit</button>  
                                <button class="save-user edit-mode" style="background-color:lightgreen" >Save</button>  
                                <button class="cancel-user edit-mode" style="background-color:orangered">Cancel</button>  
                            </text>, style: "col3Width", canSort: false)))
    <br/></div>
          </div> 
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
            $(function () {
                $('.edit-mode').hide();
                $('.edit-user, .cancel-user').on('click', function () {
                    var tr = $(this).parents('tr:first');
                    tr.find('.edit-mode, .display-mode').toggle();
                });

                $('.save-user').on('click', function () {
                    var tr = $(this).parents('tr:first');

                    var BranchID = tr.find("#lblBranchID").html();
                    var BranchCode = tr.find("#BranchCode").val();
                    var BranchName = tr.find("#BranchName").val();
                    var OpenDate = tr.find("#OpenDate").val();

                    var BAddress = tr.find("#BAddress").val();
                    var City = tr.find("#City").val();
                    var State = tr.find("#State").val();
                    var PinCode = tr.find("#PinCode").val();
                    var ManagerID = tr.find("#ManagerID").val();

                    tr.find("#lblBranchCode").text(BranchCode);
                    tr.find("#lblBranchName").text(BranchName);
                    tr.find("#lblOpenDate").text(OpenDate);

                    tr.find("#lblBAddress").text(BAddress);
                    tr.find("#lblCity").text(City);
                    tr.find("#lblState").text(State);
                    tr.find("#lblPinCode").text(PinCode);
                    tr.find("#lblManagerID").text(ManagerID);


                    tr.find('.edit-mode, .display-mode').toggle();
                    var UserModel =
                        BranchID 
                            +"," + BranchCode
                        + "," + BranchName
                            + "," + OpenDate
                            + "," + BAddress
                        + "," + City
                        + "," + State
                            + "," + PinCode
                            + "," + ManagerID;
                                                                       
                    $.ajax({
                        url: '@Url.Action("EditBranch", "Staff")',
                        data: { UserModel: UserModel },
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data == 'Success') {
                                $.ajax({
                                    url: '@Url.Action("BranchList", "Staff")',
                                    type: 'GET',
                                 contentType: 'application/json; charset=utf-8',
                                 success: function (data) {

                                 }
                             });
                             alert("Successfully updated Staff details");
                         }
                         else {
                             alert("Failed to update please try again");
                         }
                                                                            }
                                                                        });

                                                                    });
                                                                })
    </script>
</body>
</html>